use_nix

# Set TMPDIR to /tmp to avoid nix-shell path issues on Darwin
export TMPDIR=/tmp

# Kubernetes
export KUBECONFIG="$(expand_path ./kubernetes/kubeconfig)"
export SOPS_AGE_KEY_FILE="$HOME/.config/sops/age/keys.txt"
