---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: esphome
  namespace: home-automation
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: longhorn
  resources:
    requests:
      storage: 100Mi
