---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd
resources:
  # Namespace first
  - ./namespace.yaml
  # ArgoCD itself
  # renovate: datasource=github-releases depName=argoproj/argo-cd
  - https://raw.githubusercontent.com/argoproj/argo-cd/v3.3.0/manifests/ha/install.yaml
  # Temporary ingress -- til we switch to gateway
  - ingress.yaml

patches:
  # Add CMP sidecar for kustomize + envsubst
  - path: cmp/repo-server-patch.yaml

configMapGenerator:
  - name: argocd-cm
    behavior: merge
    literals:
      # How often ArgoCD checks Git for changes (default: 3 minutes)
      - timeout.reconciliation=1h
  # CMP plugin configuration
  - name: argocd-cmp-kustomize-envsubst
    files:
      - plugin.yaml=cmp/plugin.yaml
