---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cnpg-garage-access-immich
  namespace: media
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-fields
  target:
    name: cnpg-garage-access-immich
    creationPolicy: Owner
    template:
      data:
        aws-access-key-id: "{{ .awsAccessKeyId }}"
        aws-secret-access-key: "{{ .awsSecretAccessKey }}"
        s3-region: garage
        tls.crt: |
          -----BEGIN CERTIFICATE-----
          MIIBmDCCAT6gAwIBAgIRANSVoUiTXBGW9DkagKtQjWswCgYIKoZIzj0EAwIwKjEP
          MA0GA1UEChMGUHRpbmVtMRcwFQYDVQQDEw5QdGluZW0gUm9vdCBDQTAeFw0yNDAy
          MDkxMjUzMDBaFw0zNDAyMDYxMjUzMDBaMCoxDzANBgNVBAoTBlB0aW5lbTEXMBUG
          A1UEAxMOUHRpbmVtIFJvb3QgQ0EwWTATBgcqhkjOPQIBBggqhkjOPQMBBwNCAAS2
          kzW+UJV8eYmLOMDANrgnfprU5F2Epw7kmug6BlgU4g/Tm76FOMGRnfMdxf1B9J/P
          f0acYOYfYdWjs5wfnAlao0UwQzAOBgNVHQ8BAf8EBAMCAQYwEgYDVR0TAQH/BAgw
          BgEB/wIBATAdBgNVHQ4EFgQUxsuM0fqHAbzj3aiCX44My6D6zg4wCgYIKoZIzj0E
          AwIDSAAwRQIgVM0UxJXuG4Vr/sKxlYv68QJezFpeOx/dtyCsqMJGrn4CIQD0BvL/
          7IGSXySSzaNnz+u9WmgdsM+ZM7z6bd5h4ZqBJg==
          -----END CERTIFICATE-----
  data:
    - secretKey: awsAccessKeyId
      remoteRef:
        key: 5879ba4f-f80f-432e-ade2-d3a1281b3060
        property: AWS_ACCESS_KEY_ID
    - secretKey: awsSecretAccessKey
      remoteRef:
        key: 5879ba4f-f80f-432e-ade2-d3a1281b3060
        property: AWS_SECRET_ACCESS_KEY
