---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: immich-library-pv
  namespace: media
spec:
  capacity:
    storage: 100Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: nfs
  nfs:
    path: /tank/Images
    server: cardinal.internal
