---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-library
  namespace: media
spec:
  storageClassName: nfs
  volumeName: immich-library-pv
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 100Gi
