---
apiVersion: v1
kind: Service
metadata:
  name: minecraft
  namespace: games
  labels:
    app: minecraft
  annotations:
    external-dns.alpha.kubernetes.io/hostname: minecraft.internal
spec:
  type: LoadBalancer
  ports:
    - port: 25565
      targetPort: minecraft
      protocol: TCP
      name: minecraft
  selector:
    app: minecraft
