# See original values here https://github.com/longhorn/longhorn/blob/master/chart/values.yaml

# TODO: Remove this block when upgrading beyond v1.11.0
# Hotfix for v1.11.0 memory leak (proxy connection leaks in instance-manager)
# https://longhorn.io/docs/1.11.0/important-notes/
preUpgradeChecker:
  upgradeVersionCheck: false  # Re-enable after removing hotfix
image:
  longhorn:
    manager:
      tag: v1.11.0-hotfix-1
    instanceManager:
      tag: v1.11.0-hotfix-1
# END hotfix block

global:
  # -- Node selector for nodes allowed to run user-deployed components such as Longhorn Manager, Longhorn UI, and Longhorn Driver Deployer.
  nodeSelector: {}

networkPolicies:
  # -- Setting that allows you to enable network policies that control access to Longhorn pods.
  enabled: false
  # -- Distribution that determines the policy for allowing access for an ingress. (Options: "k3s", "rke2", "rke1")
  type: "k3s"

defaultSettings:
  # Changing the default path from /var/lib/longhorn
  defaultDataPath: /var/lib/rancher/longhorn
  # Auto-evict replicas during node drain to prevent PDB deadlocks
  nodeDrainPolicy: block-for-eviction-if-contains-last-replica

ingress:
  enabled: true
  ingressClassName: nginx
  host: longhorn.internal
  tls: true
  annotations:
    gethomepage.dev/description: Longhorn Management
    gethomepage.dev/enabled: "true"
    gethomepage.dev/group: System
    gethomepage.dev/icon: longhorn.png
    gethomepage.dev/name: Longhorn
    gethomepage.dev/pod-selector: "app=longhorn-ui"
    nginx.ingress.kubernetes.io/rewrite-target: /
    cert-manager.io/cluster-issuer: ca-server-cluster-issuer
    cert-manager.io/common-name: longhorn.internal
