apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: applications
  namespace: argocd
spec:
  project: default
  source:
    path: kubernetes/base/apps
    repoURL: 'https://forge.internal/nemo/avalanche.git'
    targetRevision: HEAD
  destination:
    namespace: default
    name: 'in-cluster'
  syncPolicy:
    automated:
      prune: false
      selfHeal: true