---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: homebox
  labels:
    app: homebox
spec:
  replicas: 1
  selector:
    matchLabels:
      app: homebox
  template:
    metadata:
      labels:
        app: homebox
    spec:
      securityContext:
        runAsUser: 65532
        runAsGroup: 65532
        fsGroup: 65532
      containers:
        - name: homebox
          image: ghcr.io/sysadminsmedia/homebox:v0.23.1-rootless
          ports:
            - name: http
              containerPort: 7745
              protocol: TCP
          env:
            - name: HBOX_LOG_LEVEL
              value: info
            - name: HBOX_LOG_FORMAT
              value: text
            - name: HBOX_WEB_MAX_UPLOAD_SIZE
              value: "10"
            - name: HBOX_OPTIONS_ALLOW_ANALYTICS
              value: "false"
          volumeMounts:
            - name: data
              mountPath: /data
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 10
            periodSeconds: 30
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: homebox
