# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml
components:
  - ../../../components/volsync-v2
patches:
  - target:
      kind: PersistentVolumeClaim
      name: .*
    patch: |
      - op: remove
        path: /spec/dataSourceRef
