---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
  - ../../components/common

resources:
  # Pre Flux-Kustomizations
  - ./namespace.yaml
  # Flux-Kustomizations
  # - ./kanboard/ks.yaml # Migrated to ArgoCD
  # - ./homepage/ks.yaml
  # - ./searxng/ks.yaml
  # - ./actual/ks.yaml
  # - ./mealie/ks.yaml
  # - ./miniflux/ks.yaml
  # - ./wallabag/ks.yaml
  # - ./wikijs/ks.yaml
