---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: homebox
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://forge.internal/nemo/avalanche.git
    targetRevision: main
    path: kubernetes/base/apps/self-hosted/homebox
    plugin:
      name: kustomize-envsubst
      env:
        - name: APP
          value: homebox
        - name: VOLSYNC_CAPACITY
          value: "1Gi"
        - name: VOLSYNC_BITWARDEN_KEY
          value: "b45f65b2-6326-42b8-b159-0e630fd223db"
        - name: VOLSYNC_STORAGECLASS
          value: longhorn
        - name: VOLSYNC_ACCESSMODE
          value: ReadWriteOnce
        - name: VOLSYNC_CACHE_CAPACITY
          value: "2Gi"
        - name: VOLSYNC_SCHEDULE
          value: "0 */6 * * *"
        - name: VOLSYNC_UID
          value: "65532"
        - name: VOLSYNC_GID
          value: "65532"
  destination:
    server: https://kubernetes.default.svc
    namespace: self-hosted
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
