---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mattermost
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  sources:
    - repoURL: https://helm.mattermost.com
      chart: mattermost-team-edition
      targetRevision: 6.6.92
      helm:
        valuesObject:
          mysql:
            enabled: false
          externalDB:
            enabled: true
          persistence:
            data:
              enabled: true
              existingClaim: mattermost
            plugins:
              enabled: true
              size: 1Gi
          ingress:
            enabled: true
            className: nginx
            annotations:
              cert-manager.io/cluster-issuer: ca-server-cluster-issuer
              cert-manager.io/common-name: mattermost.internal
              nginx.ingress.kubernetes.io/proxy-body-size: 50m
              gethomepage.dev/description: Team Chat
              gethomepage.dev/enabled: "true"
              gethomepage.dev/group: Self-Hosted
              gethomepage.dev/icon: mattermost.png
              gethomepage.dev/name: Mattermost
            hosts:
              - mattermost.internal
            tls:
              - hosts:
                  - mattermost.internal
                secretName: mattermost-ing-cert
          config:
            MM_SERVICESETTINGS_SITEURL: https://mattermost.internal
            MM_SERVICESETTINGS_LISTENADDRESS: ":8065"
          extraEnvVars:
            - name: MM_SQLSETTINGS_DRIVERNAME
              value: postgres
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: mattermost-16-db-app
                  key: username
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: mattermost-16-db-app
                  key: password
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: mattermost-16-db-app
                  key: host
            - name: DB_PORT
              valueFrom:
                secretKeyRef:
                  name: mattermost-16-db-app
                  key: port
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: mattermost-16-db-app
                  key: dbname
            - name: MM_SQLSETTINGS_DATASOURCE
              value: "postgres://$(DB_USER):$(DB_PASS)@$(DB_HOST):$(DB_PORT)/$(DB_NAME)?sslmode=disable&connect_timeout=10"
            - name: MM_CONFIG
              value: "postgres://$(DB_USER):$(DB_PASS)@$(DB_HOST):$(DB_PORT)/$(DB_NAME)?sslmode=disable&connect_timeout=10"
          resources:
            requests:
              cpu: 200m
              memory: 512Mi
            limits:
              memory: 1Gi
    - repoURL: https://forge.internal/nemo/avalanche.git
      targetRevision: main
      path: kubernetes/base/apps/self-hosted/mattermost
      plugin:
        name: kustomize-envsubst
        env:
          - name: APP
            value: mattermost
          - name: VOLSYNC_CAPACITY
            value: "5Gi"
          - name: VOLSYNC_BITWARDEN_KEY
            value: "b45f65b2-6326-42b8-b159-0e630fd223db"
          - name: VOLSYNC_STORAGECLASS
            value: longhorn
          - name: VOLSYNC_ACCESSMODE
            value: ReadWriteOnce
          - name: VOLSYNC_CACHE_CAPACITY
            value: "2Gi"
          - name: VOLSYNC_SCHEDULE
            value: "0 * * * *"
          - name: VOLSYNC_UID
            value: "2000"
          - name: VOLSYNC_GID
            value: "2000"
  destination:
    server: https://kubernetes.default.svc
    namespace: self-hosted
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
