---
apiVersion: v1
kind: Service
metadata:
  name: immich-server
  labels:
    app: immich-server
spec:
  type: ClusterIP
  ports:
  - port: 2283
    targetPort: 2283
    protocol: TCP
    name: http
  selector:
    app: immich-server
