# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/v1/configmap.json
---
# CA ConfigMap for internal S3 (Garage) TLS verification.
# Contains the Ptinem Root CA used by Garage S3.
#
# Variables (passed via ArgoCD Application plugin.env):
#   ARGOCD_ENV_APP - Application name (REQUIRED)
#
apiVersion: v1
kind: ConfigMap
metadata:
  name: "${ARGOCD_ENV_APP}-volsync-ca"
data:
  ca.crt: |
    -----BEGIN CERTIFICATE-----
    MIIBmDCCAT6gAwIBAgIRANSVoUiTXBGW9DkagKtQjWswCgYIKoZIzj0EAwIwKjEP
    MA0GA1UEChMGUHRpbmVtMRcwFQYDVQQDEw5QdGluZW0gUm9vdCBDQTAeFw0yNDAy
    MDkxMjUzMDBaFw0zNDAyMDYxMjUzMDBaMCoxDzANBgNVBAoTBlB0aW5lbTEXMBUG
    A1UEAxMOUHRpbmVtIFJvb3QgQ0EwWTATBgcqhkjOPQIBBggqhkjOPQMBBwNCAAS2
    kzW+UJV8eYmLOMDANrgnfprU5F2Epw7kmug6BlgU4g/Tm76FOMGRnfMdxf1B9J/P
    f0acYOYfYdWjs5wfnAlao0UwQzAOBgNVHQ8BAf8EBAMCAQYwEgYDVR0TAQH/BAgw
    BgEB/wIBATAdBgNVHQ4EFgQUxsuM0fqHAbzj3aiCX44My6D6zg4wCgYIKoZIzj0E
    AwIDSAAwRQIgVM0UxJXuG4Vr/sKxlYv68QJezFpeOx/dtyCsqMJGrn4CIQD0BvL/
    7IGSXySSzaNnz+u9WmgdsM+ZM7z6bd5h4ZqBJg==
    -----END CERTIFICATE-----
