---
apiVersion: v1
kind: Service
metadata:
  name: immich-redis
  labels:
    app: immich-redis
spec:
  type: ClusterIP
  ports:
  - port: 6379
    targetPort: 6379
    protocol: TCP
    name: redis
  selector:
    app: immich-redis
