# yaml-language-server: $schema=https://json.schemastore.org/kustomization
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - service.yaml
  # - backup-cronjob.yaml
  - backup-pvc.yaml
  - backup-secret.yaml

components:
  - ../../../components/volsync-v2

patches:
  # !! DISASTER RECOVERY WARNING !!
  # This patch PREVENTS restore-from-backup on a fresh cluster.
  # If rebuilding the cluster, REMOVE this patch so the PVC is created
  # with dataSourceRef and VolSync restores data from S3 automatically.
  # Re-add it after the restore is complete.
  # Regex matches the pre-envsubst name '${ARGOCD_ENV_APP}' but not
  # 'influxdb2-backup-pvc' (kustomize runs before envsubst).
  - target:
      kind: PersistentVolumeClaim
      name: '\$\{'
    patch: |
      - op: remove
        path: /spec/dataSourceRef
