# yaml-language-server: $schema=https://json.schemastore.org/kustomization
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - service.yaml
  # - backup-cronjob.yaml
  - backup-pvc.yaml
  - backup-secret.yaml

components:
  - ../../../components/volsync-v2

patches:
  # Remove dataSourceRef from volsync PVC - this is an existing app with data,
  # we don't want to restore from backup on sync.
  # Regex matches the pre-envsubst name '${ARGOCD_ENV_APP}' but not
  # 'influxdb2-backup-pvc' (kustomize runs before envsubst).
  - target:
      kind: PersistentVolumeClaim
      name: '\$\{'
    patch: |
      - op: remove
        path: /spec/dataSourceRef
