---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: n8n-encryption-key
  namespace: ai
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-fields
  target:
    name: n8n-encryption-key
    creationPolicy: Owner
  data:
    - secretKey: encryption-key
      remoteRef:
        key: 2db610af-38c9-4502-a880-8170b2ae3235
        property: N8N_ENCRYPTION_KEY
