apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana
  namespace: argocd
spec:
  project: default
  source:
    path: kubernetes/base/apps/home-automation/grafana
    repoURL: https://forge.internal/nemo/avalanche.git
    targetRevision: HEAD
  destination:
    namespace: home-automation
    name: 'in-cluster'
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true