---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: home-assistant
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://forge.internal/nemo/avalanche.git
    targetRevision: main
    path: kubernetes/base/apps/home-automation/home-assistant
    plugin:
      name: kustomize-envsubst
      env:
        - name: APP
          value: home-assistant
        - name: VOLSYNC_CAPACITY
          value: "1Gi"
        - name: VOLSYNC_BITWARDEN_KEY
          value: "b45f65b2-6326-42b8-b159-0e630fd223db"
        - name: VOLSYNC_STORAGECLASS
          value: longhorn
        - name: VOLSYNC_ACCESSMODE
          value: ReadWriteOnce
        - name: VOLSYNC_CACHE_CAPACITY
          value: "2Gi"
        - name: VOLSYNC_SCHEDULE
          value: "0 * * * *"
        - name: VOLSYNC_UID
          value: "1000"
        - name: VOLSYNC_GID
          value: "1000"
  destination:
    server: https://kubernetes.default.svc
    namespace: home-automation
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false
