---
apiVersion: v1
kind: Service
metadata:
  name: immich-web
  labels:
    app: immich-web
spec:
  type: ClusterIP
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: immich-web
