apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cluster
  namespace: argocd
spec:
  project: default
  source:
    path: kubernetes/clusters/main/app
    repoURL: 'https://forge.internal/nemo/avalanche.git'
    targetRevision: HEAD
  destination:
    namespace: argocd
    name: 'in-cluster'
  syncPolicy:
    automated:
      prune: false
      selfHeal: true